section{
}

.service-grid {
    background-image: url("../Images/img13.jpg");
    background-size: cover;
}
    .service-title h2 {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
}


.service-title h2::before {
    content: "";
    position: absolute;
    left: 0;
    width: 110px;
    height: 2px;
    background: #fc6701;
    bottom: -25px;
    margin: auto;
    right: 0;
}
.service-icon {
    position: relative;
}
.service-title p {
    padding: 0 190px;
    margin-bottom: 10px;
}
.about-info-text h2 {
    margin-bottom: 23px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: .9;
}
.about-info-text p {
    padding: 0 100px;
    font-size: 18px;
    margin-bottom: 26px;
      position: relative;
}
.about-content p {
    margin-bottom: 0;
}
.about-info-text a {
    margin-bottom: 20px;
      position: relative;
}
.service-icon i {
    font-size: 40px;
    color: #fc6701;
    margin-bottom: 20px;
    display: inline-block;
}
.service-wrap {
    border: 4px solid #e6e6e6;
    padding: 50px 30px;
      position: relative;
}

.service-wrap p{
      position: relative;
}

.banking:hover {
    background-image: url("../Images/bank.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
}

.banking:hover:before {
    background: rgba(0, 0, 0, 0.2901960784313726);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    content: "";
    top: 0;
    opacity: 1;
}

.Professional_advisory:hover {
    background-image: url("../Images/advice.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
}

.Professional_advisory:hover:before {
    background: rgba(0, 0, 0, 0.2901960784313726);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    content: "";
    top: 0;
    opacity: 1;
}

.Wealth_management:hover {
    background-image: url("../Images/wealth.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
}

.Wealth_management:hover:before {
    background: rgba(0, 0, 0, 0.2901960784313726);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    content: "";
    top: 0;
    opacity: 1;
}

.Mutual_funds:hover {
    background-image: url("../Images/funding.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
}

.Mutual_funds:hover:before {
    background: rgba(0, 0, 0, 0.2901960784313726);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    content: "";
    top: 0;
    opacity: 1;
}

.investments:hover {
    background-image: url("../Images/investment.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
}

.investments:hover:before {
    background: rgba(0, 0, 0, 0.2901960784313726);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    content: "";
    top: 0;
    opacity: 1;
}

.stock_market:hover {
    background-image: url("../Images/stocks.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
}

.stock_market:hover:before {
    background: rgba(0, 0, 0, 0.2901960784313726);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    content: "";
    top: 0;
    opacity: 1;
}

.audit_consulting:hover {
    background-image: url("../Images/acc.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
}

.audit_consulting:hover:before {
    background: rgba(0, 0, 0, 0.2901960784313726);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    content: "";
    top: 0;
    opacity: 1;
}


.service-wrap:hover h4,.service-wrap:hover p{
    color: #fff;
}
.service-wrap h4 {
    font-weight: 600;
    color: #1e2331;
    margin-bottom: 17px;
    font-size: 18px;
    text-transform: capitalize;
      position: relative;
}
.service-wrap a {
    font-size: 14px;
    font-weight: 600;
      position: relative;
    color: #fc6701;
}
.button{
	display: inline-block;
	font-weight: 300;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	font-size: 1.7rem;
  color: white;
	background-color: rgba(0, 0, 0, 0);
	border-color: #fff;
}

 .button:hover {
  color: rgb(240, 94, 35);
  background-color: #fff;
  border-color: #fff;

	transition-duration: 0.4s;
} 
